footer {
  display: none;
}

@media screen and (max-width: 768px) {
  footer {
    width: 100%;
    height: 70px;
    background-color: var(--bg-solid);
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    bottom: 0;
  }

  footer > .footer-pill {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  footer > .footer-pill > .footer-icon {
    font-size: 30px;
  }

  footer > .footer-pill > .footer-icon-name {
    margin-top: 5px;
    font-size: 12px;
  }
}
